.message {
    width: 527px;
    height: 60px;
}

.imageAndText {

}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {

}

.text:after {

}

.name {

}

.messageText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.time {

}