.sidebar {
    display: none;
}

.sidebar.open {
    display: flex;
    position: absolute;
    min-height: 100%;
    background-color: #FFFFFF;
    width: 317px;
    flex-direction: column;
    align-items: end;
    gap: 29px;
    z-index: 3;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.3;
    z-index: 1;
}

.nav {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-right: 70px;
}

.nav a {
    text-decoration: none;

}

.nav a:hover {
    color: #58ACFF;
}

.nav a:active {
    color: #3D6B99;
}

.nav a.active {
    color: #0059B2;
    text-decoration-line: underline;
}

.close {
    width: 24px;
    height: 24px;
    display: flex;
    text-align: center;
    justify-content: center;
    border: none;
    background-color: #FFFFFF;
    padding-top: 22px;
    padding-right: 24px;
}

.close img {

}
